<p> survey works!</p>
  <!--<div class="container">-->
  <!--<div  [hidden]="submitted">-->
  <!--</div>-->
    <!--<h1>Poll Details</h1>-->
    <!--<form *ngIf="active" (ngSubmit)="onSubmit()" #surveyForm="ngModel">-->
  <!--<div><label>project name: {{project.projectName}}</label></div>-->
  <!--<div class="form-group">-->
        <!--<label for="user">Assigned User</label>-->
        <!--<select class="form-control" required-->
          <!--[(ngModel)]="user.id"-->
            <!--ngModel="user" #user="ngModel" >-->
          <!--<option *ngFor="let user of users" [value]="u">{{u}}</option>-->
        <!--</select>-->
        <!--<div [hidden]="user.valid || user.pristine" class="alert alert-danger">-->
          <!--User name is required-->
        <!--</div>-->
        <!--{{ user.name}}-->
      <!--</div>-->
       <!--<button type="submit" class="btn btn-success" [disabled]="!surveyForm.form.valid">Submit</button>-->
  	<!---->
  <!--</form>-->
  <!---->
  <!--</div>-->
  <!---->

  <!--

  <div><label>project name: <input [(ngModel)]="project.projectName" placeholder="projectName"> </label></div>
  <div><label>start date: <input [(ngModel)]="project.startDate" placeholder="startDate"> </label></div>
  <div><label>end date: <input [(ngModel)]="project.endDate" placeholder="endDate"> </label></div>
  <div><span>assigned to groups: </span>{{selectedProject.projectGroup}}</div>
  <button (click)="goBack()">return</button>
  <button (click)="save()">save</button>
</div>
 -->
