<h2> User Groups Panel</h2>
<div>
  <input class="form-control" placeholder="Search" id="search" type="text" [(ngModel)]="searchText"/>
</div>
<table class="table">
<thead class="thead-dark">
<tr>
  <th scope="col" (click)="setOrder('id')">#
  <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
  <th scope="col" (click)="setOrder('groupName')">Name
  <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
  <th scope="col">Details</th>
  <th scope="col">Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let userGroup of userGroups | orderBy: order:reverse:'case-insensitive' | filter:searchText">
  <th scope="row">{{userGroup.id}}</th>
  <td >{{userGroup.groupName}}</td>
  <td><button type="button" class="btn btn-info" (click)="open(userGroup,userGroupModal)">Details</button></td>
  <td><button type="button" class="btn btn-danger" (click)="delete(userGroup)">Delete</button></td>
</tr>
</tbody>
</table>


<button type="button" class="btn btn-primary" (click)="openAdd(addModal)">Add new group</button>

<ng-template #userGroupModal>
  <div class="modal-header">
    <h4 class="modal-title">{{userGroup.groupName}} Details</h4>
  </div>
  <div class="modal-body">
    <div><span>id: </span>{{userGroup.id}}</div>
    <div><label>name: <input [(ngModel)]="userGroup.groupName" placeholder="name"> </label></div>
    <div><label>users in group: <input [(ngModel)]="userGroup.usersInGroup" placeholder="usersInGroup"> </label></div>
    <button class="btn btn-success" (click)="save()">save changes</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="userGroupModal" (click)="save()">Save Changes</button>
  </div>
</ng-template>

<ng-template #addModal>
  <div class="modal-header">
    <h4 class="modal-title">Add New UserGroup</h4>
  </div>
  <div class="modal-body">
    <label>Group name:
      <input #userGroupName />
    </label>
    <label>Users:
      <input #userGroupUsers />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->

  </div>
  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" (click)="add({groupName:userGroupName.value,usersInGroup:userGroupUsers.value
    });
     userGroupName.value.value=''; userGroupUsers.value=''">
      Add userGroup
    </button>
  </div>
</ng-template>



