<h2> Projects Panel</h2>
<div>
  <input class="form-control" placeholder="Search" id="search" type="text" [(ngModel)]="searchText"/>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col" (click)="setOrder('id')">#
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col" (click)="setOrder('projectName')">Name
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col">Details</th>
    <th scope="col">Actions</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects | orderBy: order:reverse:'case-insensitive' | filter:searchText">
    <th scope="row">{{project.id}}</th>
    <td >{{project.projectName}}</td>
    <td><button type="button" class="btn btn-info" (click)="open(project,projectModal)">Details</button></td>
    <td><button type="button" class="btn btn-success" (click)="activate(project)">Activate Survey</button></td>
    <td><button type="button" class="btn btn-danger" (click)="delete(project)">Delete</button></td>
  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="openAdd(addModal)">Add new project</button>

<ng-template #projectModal>
  <div class="modal-header">
    <h4 class="modal-title">{{project.projectName}} Details</h4>
  </div>
  <div class="modal-body">
      <div><span>id: </span>{{project.id}}</div>
      <div><label>project names: <input [(ngModel)]="project.projectName" placeholder="projectName"> </label></div>
    <div><label>start date: <input [(ngModel)]="project.startDate" placeholder="startDate" type="date"> </label></div>
    <div><label>project names: <input [(ngModel)]="project.endDate" placeholder="endDate" type="date"> </label></div>
      <div><label>userGroups: <input [(ngModel)]="project.userGroups" placeholder="userGroups"> </label></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="projectModal" (click)="save()">Save Changes</button>
  </div>
</ng-template>

<ng-template #addModal>
  <div class="modal-header">
    <h4 class="modal-title">Add New project</h4>
  </div>
  <div class="modal-body">
    <form id="addNewProject" name="add" #projectData="ngForm" (ngSubmit)="add(projectData.value)">
      <fieldset>
        <legend>Add project</legend>
        <div class="form-group">
          <label for="name">Project name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                 placeholder="projectName"
                 ngModel #projectName="ngModel" required minlength="2">
          <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)">
            <div [hidden]="!projectName.errors.required" class="alert alert-danger">This field is requried</div>
            <div [hidden]="!projectName.errors.minlength" class="alert alert-danger">You must type more than one sign</div>
          </div>
        </div>

        <div class="form-group">
          <label for="startDate">Start date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" aria-describedby="startDateHelp"
                 placeholder="YYYY-MM-DD" ngModel required #startDate="ngModel" [(ngModel)]="project.startDate">
          <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
            <div class="alert alert-danger">Please provide the date in YYYY-MM-DD format</div>
          </div>
        </div>
        <div class="form-group">
          <label for="endDate">End date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" aria-describedby="endDateHelp"
                 placeholder="YYYY-MM-DD" ngModel required #endDate="ngModel" [(ngModel)]="project.endDate">
          <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
            <div class="alert alert-danger">Data musi mieć format YYYY-MM-DD</div>
          </div>
          <div *ngIf="data.endDate < data.startDate">
            <div class="alert alert-danger">End date must be later than start date.</div>
          </div>
        </div>
        <input type="submit" [disabled]="!projectData.form.valid" class="btn btn-primary" value="Add project">
        <a routerLink="/projects">
          <button type="button" class="btn btn-primary">Cancel</button>
        </a>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-success" data-dismiss="modal" (click)="add({name:projectName.value,startDate:projectstartDate.value,endDate:projectendDate.value,-->
    <!--userGroup:projectGroups.value});-->
     <!--projectName.value=''; projectstartDate.value=''; projectendDate.value=''; projectGroups.value=''">-->
      <!--Add project-->
    <!--</button>-->
  </div>
</ng-template>



