<h2> Users Panel</h2>
<div>
  <input class="form-control" placeholder="Search" id="search" type="text" [(ngModel)]="searchText"/>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col" (click)="setOrder('id')">#
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col" (click)="setOrder('firstName')">First Name
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col" (click)="setOrder('surname')">Last Name
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col">Details</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | orderBy: order:reverse:'case-insensitive' | filter:searchText">
    <th scope="row">{{user.id}}</th>
    <td >{{user.name}}</td>
    <td >{{user.surname}}</td>
    <td><button type="button" class="btn btn-info" (click)="open(user,userModal)">Details</button></td>
    <td><button type="button" class="btn btn-danger" (click)="delete(user)">Delete</button></td>
  </tr>
  </tbody>
</table>


<button type="button" class="btn btn-primary" (click)="openAdd(addModal)">Add new user</button>

<ng-template #userModal>
  <div class="modal-header">
    <h4 class="modal-title">{{user.name +' '+user.surname}} Details</h4>
  </div>
  <div class="modal-body">
      <div><span>id: </span>{{user.id}}</div>
      <div><label>name: <input [(ngModel)]="user.name" placeholder="name"> </label></div>
      <div><label>surname: <input [(ngModel)]="user.surname" placeholder="surname"> </label></div>
      <div><label>email address: <input [(ngModel)]="user.emailAddress" placeholder="emailAddress"> </label></div>
	  <div><label>assigned polls: </label>{{user.assignedPoll}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="userModal" (click)="save()">Save Changes</button>
  </div>
</ng-template>

<ng-template #addModal>
  <div class="modal-header">
    <button type="button" data-dismiss="true">X</button>
    <h3 class="modal-title">Add New User</h3>
  </div>
  <div class="modal-body">
    <form [formGroup] = "rForm" (ngSubmit)="addForm(rForm.value)">
      <div class = "form-container">
        <div class = "row columns">
          <h1> Add user</h1>
          <label> Name
            <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
            <input type="text" formControlName="name"> </label>
          <label> Surname
            <div class="alert" *ngIf="!rForm.controls['surname'].valid && rForm.controls['surname'].touched">{{ titleAlert }}</div>
            <input type="text" formControlName="surname"> </label>
          <label> Email Address
            <div class="alert" *ngIf="!rForm.controls['emailAddress'].valid && rForm.controls['emailAddress'].touched">{{ titleAlert }}</div>
            <input type="email" formControlName="emailAddress"> </label>

        </div>
      </div>
<button class="btn btn-success" type="submit" data-dismiss="addModal" value="Add user"></button>
    </form>
  </div>

  <div class="modal-footer">

    <!--<button class="btn btn-success" data-dismiss="modal" (click)="add({name:userName.value,surname:userSurname.value,emailAddress: userEmailAddress.value,-->
    <!--userGroups:userUserGroups.value});-->
     <!--userName.value=''; userSurname.value='';userEmailAddress.value=''">-->
      <!--Add user-->
    <!--</button>-->
  </div>

</ng-template>


